{{> header }}

<style>
    body {
        font-family: sans-serif;
    }
    p {
        font-size: 0.8em;
    }
</style>

<h1>API</h1>
<p>Please contact <a href="{{email}}">{{email}}</a> to get support.</p>

{{> footer-end }}